body, html{
	background-color: black;
	text-align: center;
}

#infoText{
	color:white;
	font-family: "Courier New", Courier, monospace;
    font-size: 16px;
	position:absolute;
	top: 42%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#asciiArt {
	margin-top: 100px;
	color: blue;
	-webkit-text-fill-color: transparent;
	background: -webkit-linear-gradient(transparent, transparent), url(../images/asciiOverlay.gif) repeat;
	background: -o-linear-gradient(transparent, transparent);
	-webkit-background-clip: text;
    line-height: 1.2;
	overflow: hidden;
	display:table;
	position:absolute;
	transform: translate(-50%, -50%);
	top: 15%;
	left: 50%;
}

#tableInformation, #purchaseLink{
	font-size: 16px;
	color: blue;
	-webkit-text-fill-color: transparent;
	background: -webkit-linear-gradient(transparent, transparent), url(../images/dp.gif) repeat;
	background: -o-linear-gradient(transparent, transparent);
	-webkit-background-clip: text;
    line-height: 1.2;
	overflow: hidden;
}

 #purchaseLink{
	color: blue;
	-webkit-text-fill-color: transparent;
	background: -webkit-linear-gradient(transparent, transparent), url(../images/px1.gif) repeat;
	background: -o-linear-gradient(transparent, transparent);
	-webkit-background-clip: text;
    line-height: 1.2;
	overflow: hidden;
 }

a, a:hover, a:active, a:visited {
	font-size: 24px;
	color: grey;
}

article {
    font-size: 10;
	padding-top: 30px;
	display: block;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 70%;
	left: 50%;
}

article > section {
	font-family: "Courier New", Courier, monospace;
    font-size: 16px;
    display: inline-block;
    width: 250px;
	height: 150px;
    border: 1px outset white;
    padding: 20px;
    box-sizing: border-box;
	color:white;
}

#releaseTable{
	font-family: "Courier New", Courier, monospace;
	border: 1px outset white;
	color:white;
	width:80%; 
	position:absolute;
	top: 120%;
	left: 50%;
	text-align: left;
	transform: translate(-50%, -50%);
	margin-bottom: 100px;
}

td{
	border-bottom: 1px outset white;
	border-color:white;
}

.downArrow{
	position:absolute;
	top: 91%;
	left: 49%;
	text-align: left;
	transform: translate(-50%, -50%);
	margin-bottom: 100px;
}

.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}



@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

	@media
	  only screen 
    and (max-width: 760px), (min-device-width: 768px) 
    and (max-device-width: 1024px)  {

	table, thead, tbody, th, td, tr {
		display: block;
		margin-top: px;
		text-align: center;
		border-bottom: 1px outset white;
	}

	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
			
	}

    tr {
		margin: 0 0 1rem 0;
	  
    }
		
	td {
		border: 1px;
		position: relative;
	}

	td:before {
		position: absolute;
		top: 0;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}
		
	.downArrow{
		visibility:hidden; 
	}
	
	article{
		top: 105%;
	}	
	
	#releaseTable{
		top: 285%;

	}
	
	.tableHeaders{
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
}